p{
    background-color: yellow;
}

#one{
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
}

#two{
    background-color: lightgreen;
    padding-left: 30px;
    padding-right: 30px;
}

#three{
    background-color: lightgray;
    padding-left: 40px;
    padding-right: 40px;
}